<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean class = "com.beans.Address" id = "AddId">
    	<property name="street" value = "Suncity road"></property>
    	<property name="pin" value = "411051"></property>
    	<property name="state" value = "Maharashtra"></property>
    </bean>
    
    <bean class = "com.beans.Student" id = "StdId">
    	<property name = "name" value = "Veda"></property>
    	<property name = "Address" ref = "AddId"></property>
    </bean>

</beans>